?
a.out
app?
*.cert
*.o
*.srctrl*
*.user
*.dSYM/
.DS_Store
.cache
compile_commands.json*
compile_flags.txt
examples/mbps/certs/
examples/mbps/id?/
tools/ls_bundle
tools/make_bundle
tools/make_cert
tools/schemaCompile
tools/schema_cert
tools/schema_dump
tools/schema_info
tools/schema_install
tools/tst_encoder
